.composition {
  position: relative;

  &__photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    outline-offset: 2rem;

    transition: all 0.2s;
    z-index: 1;

    @include respond(tab-port) {
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
      position: relative;
      width: 33.33333333%;
      float: left;
    }

    &--p1 {
      top: -2rem;
      left: 0rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      top: 2rem;
      right: 0rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      top: 10rem;
      left: 20%;

      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      transform: scale(1.1) translateY(-2rem);
      outline: 1.5rem solid $color-primary-medium;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 2;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
